---
import { Image } from "@astrojs/image/components";
import config from "@/config/config.json";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa/index.js";

const { summary_length, blog_folder } = config.settings;
const { data } = Astro.props;
const { title, image, date, author, categories, domain } = data.data;
const [langcode, ...slug] = data.slug.split('/');
---

<div class="bg-body dark:bg-darkmode-body">
  {
    image && (
      <Image
        class="mb-6 w-full rounded"
        src={image}
        alt={title}
        width={590}
        height={200}
      />
    )
  }

 <ul class="mb-4">
     <li class="mr-4 inline-block">
       {
         categories.map((category: string, index: number) => (
           <a href={`/categories/${slugify(category)}`}>
             {humanize(category)}
             {index !== categories.length - 1 && ","}
           </a>
         ))
       }
     </li>
   </ul>
  <h4 class="mb-3">
    <a href={`/${langcode}/${blog_folder}/${slug}`}>
      {title}
    </a>
  </h4>

  <p class="mb-6">{plainify(data.body?.slice(0, Number(summary_length)))}</p>
  <a
    class="btn btn-outline-primary btn-sm lowercase"
    href={`https://${domain}`}
    target="_blank"
  >
    {domain}
  </a>
</div>
