---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "@astrojs/image/components";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { contributions } = Astro.props;
---
{
  contributions.data.enable && (
    <h3 class="mt-12">{t('contributions')}</h3>

    <div class="grid py-6 mx-auto sm:grid-cols-2 2xl:max-w-7xl gap-y-6 sm:gap-8 sm:py-8 lg:grid-cols-3 lg:py-12 xl:py-16">

      {contributions.data.contributions.map(
        (item: {
          url: string;
          name: string;
          image: string;
          content: string;
        }) => (
          <a href={item.url} target="_blank">
            <div class="p-3 duration-200 rounded-xl sm:flex lg:items-start group hover:bg-slate-200">
              <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                <img class="w-16 h-16 bg-gray-100 lg:h-32 lg:w-32 rounded-xl" src={item.image} alt={item.name}>
              </div>
              <div>
                <h5 class="mt-3 text-lg font-medium leading-6" set:text={item.name} />
                <p class="mt-4 text-sm text-gray-500" set:html={markdownify(item.content)} />
              </div>
            </div>
          </a>
        )
      )}

    </div>
  )
}

