---
import { Image } from "@astrojs/image/components";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import PageHeader from "@/partials/PageHeader.astro";

import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const paramsArray = Object.keys(languages).map(lang => {
    return { params: { lang } };
  });
  return paramsArray;
}
const entry = await getEntryBySlug("pages", lang + "/drupal");
const { Content } = await entry.render();
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>

  <section>
    <div class="container text-center">
      <div
        class="bg-drupal rounded-2xl bg-gradient-to-b from-body to-theme-light px-8 py-14 dark:from-darkmode-body dark:to-darkmode-theme-light"
      >
        <h1 set:text={humanize(title)} />
        <Breadcrumbs className="mt-6" />
      </div>
    </div>
  </section>

  <section class="section-sm">
    <Content />
  </section>
</Base>
